# Core Django framework
Django

# For image handling (uploading, resizing, product images)
pillow

# For serving static files in production
whitenoise

# For managing environment variables (.env file for SECRET_KEY, DB, API keys)
python-decouple

